{{- if .Values.externalSecrets.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "ten-node.fullname" . }}-node-secrets
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade" # Keeps it as a hook to run early
    "helm.sh/hook-weight": "-10"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: {{ include "ten-node.fullname" . }}-node-secrets
    creationPolicy: Owner
  data:
    {{- range $secretKey, $vaultKey := .Values.externalSecrets.secretMappings }}
    - secretKey: {{ $secretKey | quote }}
      remoteRef:
        key: {{ $vaultKey | quote }}
    {{- end }}
{{- end }}