{{- if .Values.host.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ten-node.fullname" . }}-host
  labels:
    app: {{ .Release.Name }}-host
    {{- include "ten-node.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  replicas: {{ .Values.host.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-host
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/host-secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: {{ .Release.Name }}-host
        {{- include "ten-node.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.host.podSecurityContext | nindent 8 }}

      {{- if .Values.postgresql.enabled }}
      volumes:
        - name: shared-data
          emptyDir: {}
      initContainers:
        - name: init-host-db
          image: busybox
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-postgresql
                  key: postgres-password
            - name: POSTGRES_DB_URL
              value: "{{ .Release.Name }}-postgresql"
          command:
            - /bin/sh
            - -c
            - |
              export HOST_DB_POSTGRESHOST="postgresql://postgres:${POSTGRES_PASSWORD}@${POSTGRES_DB_URL}:5432/"
              echo "Database host URL is set to $HOST_DB_POSTGRESHOST"
              echo "export HOST_DB_POSTGRESHOST=$HOST_DB_POSTGRESHOST" > /shared-data/node-host-db.env
          volumeMounts:
            - name: shared-data
              mountPath: /shared-data
      {{- end }}

      containers:
        - name: {{ .Chart.Name }}-host
          securityContext:
            privileged: true
            runAsUser: 0
          {{- if .Values.postgresql.enabled }}
          command: ["/bin/sh", "-c", " source /shared-data/node-host-db.env && ./main "]
          {{- else }}
          command: ["/bin/sh", "-c", "./main"]
          {{- end }}
          image: "{{ .Values.host.image.repository }}:{{ .Values.host.image.tag }}"
          resources:
            {{- toYaml .Values.host.resources | nindent 12 }}
          imagePullPolicy: {{ .Values.host.image.pullPolicy }}
          ports:
            {{- range .Values.host.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
              protocol: {{ .protocol | default "TCP" }}
            {{- end }}
          env:
            - name: NETWORK_GAS_BASEFEE
              value: {{ .Values.config.network.gas.basefee | default "1000000000" | quote }}
            - name: NETWORK_L1_STARTHASH
              value: {{ tpl .Values.config.network.l1.starthash .| default "" | quote }}
            - name: NETWORK_L1_TIMEOUTBLOCKS
              value: {{ .Values.config.network.l1.timeoutBlocks | default "5" | quote }}
            - name: NETWORK_L1_MAXBLOBRETRIES
              value: {{ .Values.config.network.l1.maxBlobRetries | default "5" | quote }}
            - name: NETWORK_GAS_BATCHEXECUTIONLIMIT
              value: {{ .Values.config.network.gas.batchexecutionlimit | default "300000000000" | quote }}
            - name: NETWORK_BATCH_MAXINTERVAL
              value: {{ .Values.config.network.batch.maxinterval | default "1s" | quote }}
            - name: NETWORK_ROLLUP_INTERVAL
              value: {{ .Values.config.network.rollup.interval | default "6h" | quote }}
            - name: L1_ROLLUP_RETRY_INTERVAL
              value: {{ .Values.config.network.l1.rollupRetryDelay | default "10s" | quote }}
            - name: NETWORK_L1_CONTRACTS_BRIDGE
              value: {{ tpl .Values.config.network.l1.l1contracts.bridge . | default "0x0000000000000000000000000000000000000000" | quote }}
            - name: NETWORK_GENESIS
              value: {{ .Values.config.network.genesisjson | default "{}" | quote }}
            - name: NETWORK_L1_CONTRACTS_MESSAGEBUS
              value: {{ tpl .Values.config.network.l1.l1contracts.messagebus . | default "" | quote }}
            - name: NETWORK_BATCH_MAXSIZE
              value: {{ .Values.config.network.batch.maxsize | default "56320" | quote }}
            - name: NETWORK_SEQUENCER_P2PADDRESS
              value: {{ .Values.config.network.sequencer.p2paddress | default "obscuronode-0-dev-testnet.uksouth.cloudapp.azure.com:10000" | quote }}
            - name: NETWORK_SEQUENCER_SYSTEMCONTRACTSUPGRADER
              value: {{ .Values.config.network.sequencer.systemcontractsupgrader | quote }}
            - name: NETWORK_GAS_LOCALEXECUTIONCAP
              value: {{ .Values.config.network.gas.localexecutioncap | default "300000000000" | quote }}
            - name: NETWORK_ROLLUP_MAXSIZE
              value: {{ .Values.config.network.rollup.maxsize | default "131072" | quote }}
            - name: NETWORK_L1_BLOCKTIME
              value: {{ .Values.config.network.l1.blocktime | default "15s" | quote }}
            - name: NETWORK_GAS_MINGASPRICE
              value: {{ .Values.config.network.gas.mingasprice | default "1000000000" | quote }}
            - name: NETWORK_ROLLUP_MAXINTERVAL
              value: {{ .Values.config.network.rollup.maxinterval | default "10m0s" | quote }}
            - name: NETWORK_ROLLUP_BATCHCOMPRESSIONFACTOR
              value: {{ .Values.config.network.rollup.batchCompressionFactor | default "0.1" | quote }}
            - name: NETWORK_ROLLUP_TXCOMPRESSIONFACTOR
              value: {{ .Values.config.network.rollup.txCompressionFactor | default "0.85" | quote }}
            - name: NETWORK_L1_CHAINID
              value: {{ .Values.config.network.l1.chainid | default "1337" | quote }}
            - name: NETWORK_CHAINID
              value: {{ .Values.config.network.chainid | default "443" | quote }}
            - name: NETWORK_CROSSCHAIN_INTERVAL
              value: {{ .Values.config.network.crosschain.interval | default "6s" | quote }}
            - name: NETWORK_GAS_PAYMENTADDRESS
              value: {{ .Values.config.network.gas.paymentaddress | default "0xd6c9230053f45f873cb66d8a02439380a37a4fbf" | quote }}
            - name: NETWORK_BATCH_INTERVAL
              value: {{ .Values.config.network.batch.interval | default "1s" | quote }}
            - name: NETWORK_L1_CONTRACTS_CROSSCHAIN
              value: {{ tpl .Values.config.network.l1.l1contracts.crosschain . | default "" | quote }}
            - name: NETWORK_L1_CONTRACTS_NETWORKCONFIG
              value: {{ tpl .Values.config.network.l1.l1contracts.networkConfig . | default "" | quote }}
            - name: NETWORK_L1_CONTRACTS_ROLLUP
              value: {{ tpl .Values.config.network.l1.l1contracts.rollup . | default "" | quote }}
            - name: NODE_ISGENESIS
              value: {{ .Values.config.node.isgenesis | default "false" | quote }}
            - name: NODE_NODETYPE
              value: {{ .Values.config.node.nodetype | default "validator" | quote }}
            - name: NODE_NAME
              value: {{ .Values.config.node.name | default "tennode" | quote }}
            - name: NODE_HOSTADDRESS
              value: {{ .Values.config.node.hostAddress | default "obscuronode-0-dev-testnet.uksouth.cloudapp.azure.com:10000" | quote }}
            - name: HOST_LOG_LEVEL
              value: {{ .Values.config.host.log.level | default "3" | quote }}
            - name: HOST_LOG_PATH
              value: {{ .Values.config.host.log.path | default "sys_out" | quote }}
            - name: HOST_RPC_ADDRESS
              value: {{ .Values.config.host.rpc.address | default "0.0.0.0" | quote }}
            - name: HOST_RPC_HTTPPORT
              value: {{ .Values.config.host.rpc.httpport | default "80" | quote }}
            - name: HOST_RPC_ENABLEHTTP
              value: {{ .Values.config.host.rpc.enablehttp | default "true" | quote }}
            - name: HOST_RPC_WSPORT
              value: {{ .Values.config.host.rpc.wsport | default "443" | quote }}
            - name: HOST_RPC_ENABLEWS
              value: {{ .Values.config.host.rpc.enablews | default "true" | quote }}
            - name: HOST_P2P_BINDADDRESS
              value: {{ .Values.config.host.p2p.bindaddress | default "0.0.0.0:10000" | quote }}
            - name: HOST_P2P_DISABLED
              value: {{ .Values.config.host.p2p.disabled | default "false" | quote }}
            - name: HOST_P2P_TIMEOUT
              value: {{ .Values.config.host.p2p.timeout | default "5s" | quote }}
            - name: HOST_L1_BEACONURL
              valueFrom:
                secretKeyRef:
                  name: {{ include "ten-node.fullname" . }}-node-secrets
                  key: DRPC_BEACON_URL
                  optional: true
            - name: HOST_L1_BLOBARCHIVEURL
              value: {{ .Values.config.host.l1.l1blobarchiveurl | default "" | quote }}
            - name: HOST_L1_WSURL
              valueFrom:
                secretKeyRef:
                  name: {{ include "ten-node.fullname" . }}-node-secrets
                  key: DRPC_L1_WS_URL
                  optional: true
            - name: HOST_L1_RPCTIMEOUT
              value: {{ .Values.config.host.l1.rpctimeout | default "15s" | quote }}
            - name: NETWORK_L1_CONTRACTS_ENCLAVEREGISTRY
              value: {{ tpl .Values.config.network.l1.l1contracts.enclaveRegistry . | default "" | quote }}
          {{- if .Values.enclave02.enabled }}
            - name: HOST_ENCLAVE_RPCADDRESSES
              value: {{ include "ten-node.fullname" . }}-enclave:11001,{{ include "ten-node.fullname" . }}-enclave02:11001
          {{- else }}
            - name: HOST_ENCLAVE_RPCADDRESSES
              value: {{ include "ten-node.fullname" . }}-enclave:11001
          {{- end }}
            - name: HOST_ENCLAVE_RPCTIMEOUT
              value: {{ .Values.config.host.enclave.rpctimeout | default "10s" | quote }}
            - name: HOST_DEBUG_ENABLEMETRICS
              value: {{ .Values.config.host.debug.enablemetrics | default "true" | quote }}
            - name: HOST_DEBUG_ENABLEPROFILER
              value: {{ .Values.config.host.debug.enableprofiler | default "false" | quote }}
            - name: HOST_DEBUG_METRICSHTTPPORT
              value: {{ .Values.config.host.debug.metricshttpport | default "9090" | quote }}
            - name: HOST_DEBUG_ENABLEDEBUGNAMESPACE
              value: {{ .Values.config.host.debug.enabledebugnamespace | default "true" | quote }}
            - name: HOST_DB_USEINMEMORY
              value: {{ .Values.config.host.db.useinmemory | default "false" | quote }}
            - name: HOST_DB_HISTORICALTXCOUNT
              value : {{ .Values.config.host.db.historicaltxcount | default 0 | quote }}
            - name: HOST_DB_HISTORICALCONTRACTCOUNT
              value: {{ .Values.config.host.db.historicalcontractcount | default "0" | quote }}
            - name: HOST_DB_SQLITEPATH
              value: {{ .Values.config.host.db.sqlitepath | default "" | quote }}
          envFrom:
            - secretRef:
                name: {{ include "ten-node.fullname" . }}-node-secrets
          {{- if .Values.postgresql.enabled }}
          volumeMounts:
            - name: shared-data
              mountPath: /shared-data
          {{- end }}              
          {{- if .Values.host.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.host.readinessProbe.path }}
              port: http
              scheme: HTTP
            {{- with .Values.host.readinessProbe.params }}
            {{- . | toYaml | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- if .Values.host.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.host.livenessProbe.path }}
              port: http
              scheme: HTTP
            {{- with .Values.host.livenessProbe.params }}
            {{- end }}
          {{- end }}

      {{- with .Values.host.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.host.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ . | toYaml | nindent 8 }}
      {{- end }}
      {{- with .Values.host.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.host.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
